<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Будь-ласка, введіть E-mail і пароль</h3>
                </div>
                <div class="panel-body">
                    <form name="login.loginForm" novalidate ng-submit="login.authenticate(credentials)">
                        <fieldset>
                            <div class="alert alert-danger" ng-show="login.wrongCredentials">
                                Неправильний E-mail або пароль
                            </div>
                            <div class="form-group" ng-class="login.hasErrors('email') ? 'has-error':''">
                                <label id="" class="control-label" for="email" ng-show="login.hasErrors('email')">Введіть правильний E-mail</label>
                                <input id="email" name="email" class="form-control" placeholder="E-mail" ng-model="credentials.email" type="email" required autofocus>
                            </div>
                            <div class="form-group" ng-class="login.hasErrors('password') ? 'has-error':''">
                                <label class="control-label" for="password" ng-show="login.hasErrors('password')">Введіть пароль</label>
                                <input id="password" name="password" class="form-control" placeholder="Пароль" ng-model="credentials.password" type="password" required>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-model="credentials.rememberMe" type="checkbox" value="Remember Me">Запам'ятати мене на цьому комп'ютері
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button id="login-button" class="btn btn-lg btn-success btn-block" ng-disabled="login.loginForm.$invalid">Ввійти</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>