<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dental Clinic</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/main.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/sb-admin-2.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/timeline.css")">

        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/metisMenu/dist/metisMenu.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/angular-loading-bar/build/loading-bar.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/font-awesome/css/font-awesome.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/angular-toggle-switch/angular-toggle-switch.css")">

    </head>
    <body>
        <div ui-view></div>
        <script data-main="@routes.Assets.versioned("js/main.js")" src="@routes.Assets.versioned("bower_components/requirejs/require.js")"></script>
    </body>
</html>